/* 에니메이션 효과 */
.slideanim{visibility:hidden;}
    .slide{
      animation-name: slide;
      -webkit-animation-name:slide;
      animation-duration:1s;
      -webkit-animation-duration:1s;
      visibility:visible;
    }
    @keyframes slide{
      from {
        opacity:0;
      }
    
      to {
        opacity:100;
      }
    }
    @-webkit-keyframes slide{
      0%{
        opacity:0;
        -webkit-transform:translateY(70%);
      }
      100%{
        opacity:1;
        -webkit-transform:translateY(0%);
      }
    }




@font-face{
	font-family: 'DS-DIGI';
	src: url('fonts/DS-DIGI.eot');
	src: local('☺'),
			 url('fonts/DS-DIGI.woff') format('woff'),
			 url('fonts/DS-DIGI.ttf') format('truetype');
}

@font-face{
	font-family: 'DS-DIGIB';
	src: url('/fonts/DS-DIGIB.eot');
	src: 
			 url('/fonts/DS-DIGIB.woff') format('woff'),
			 url('/fonts/DS-DIGIB.ttf') format('truetype');
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    #head_Text {
       font-size : 1.6em;
    }
} 

  


/* 시계 디지털 폰트 */
#Display_clock{
  font-family : 'DS-DIGIB';
  font-size : 4em;
}

#contact{
  background-color : white;
  text-align : center;
}

section h2 {
  font-family : Kaushan Script, Helvetica, Arial, cursive;
  color : black;
  text-align : center;
}

#service {
  border-top : 10px;
  border-top-style : solid;
  border-color : #FF8C00;
}
#team {
  border-top : 10px;
  border-top-style : solid;
  border-color : #FF8C00;
}

#video {
  border-top : 10px;
  border-top-style : solid;
  border-color : #FF8C00;
}

#portfolio{
  border-top : 10px;
  border-top-style : solid;
  border-color : #FF8C00;
}

#portfolio img {
  width : 450px;
  height : 150px;
}

#googleMap {
  width:100%;
  height:400px;
}

footer {
  border-top : 10px;
  border-top-style : solid;
  border-color : #FF8C00;
}

footer .team-member img {
  width : 80px;
  height : 80px;
}