#nav{
	width: 100%;
	height: 70px;
	background-color: beige;
	display: inline-block;
}

#nav h1{
	margin-left: 50px;
	margin-top: 15px;
	display: inline-block;
	margin-right: 500px;
}

#nav a {
	text-decoration: none;
	float: right;
	margin-right: 50px;
	margin-top: 15px;
}

a:hover{
	color:deeppink;
	font-size: 20px;
}

#header{
	width: 100%;
	height: 600px;
	background-image:url(image/image2.jpg);
	display:inline-block;
	text-align: center;	
}

#header h2{
	margin-top: 200px;
	font-size: 60px;
	color:azure;
	font-family: fantasy;
}

#header p{
	margin-top:20px;
	font-size: 18px;
	color:snow;	
}
#section {	
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: cadetblue;
	text-align: center;
}

#article{
	margin-left:2px;
	width: 310px;
	height: 370px;
	border: 1px solid black;
	display: inline-block;
}

#article p{
	font-size: 15px;
	margin-top: 5px;
}
#footer{
	width: 100%;
	background-color: dimgrey;
	text-align: center;
	color:azure;
	padding-bottom: 15px;
	padding-top: 15px;
}
